 <section class="page-header page-header-xs">


  <h1><%= @course.biz_name %></h1>

</section>
<div ng-app="app">
  <div ng-controller="courseShow">
    <!-- -->
    <section>
      <div class="container">






        <div class="row">

          <!-- RIGHT -->
          <div class="col-lg-9 col-md-9 col-sm-9">

            <div class="row">


              <!-- IMAGE -->
              <div class="col-lg-6 col-sm-6">

                <div class="thumbnail relative margin-bottom-3" >

                  <figure id="zoom-primary" class="zoom" data-mode="mouseover">
                    <img class="img-responsive" src="/assets/images/demo/1200x800/greenflag.jpg" width="1200" height="1500" alt="This is the product title" />
                  </figure>

                </div>



              </div>
              <!-- /IMAGE -->

              <!-- ITEM DESC -->
              <div class="col-lg-6 col-sm-6">

                <p><%= @weather.html_safe %></p>

              </div>
              <!-- /ITEM DESC -->

            </div>



            <ul id="myTab" class="nav nav-tabs nav-top-border margin-top-80" role="tablist">
              <li role="presentation" class="active"><a href="#description" role="tab" data-toggle="tab">Tee Times</a></li>
              <li role="presentation"><a href="#specs" role="tab" data-toggle="tab">Specifications</a></li>
              <li role="presentation"><a href="#reviews" role="tab" data-toggle="tab">Reviews (2)</a></li>
            </ul>


            <div class="tab-content padding-top-20">
              <!-- DESCRIPTION -->
              <div role="tabpanel" class="tab-pane fade in active" id="description"> 
                <div ui-calendar="uiConfig.calendar" ng-model="eventSources"></div>



               <!--                         <table>
                  <% @course.tee_time_slots.each_with_index do |tee_time_slot, index| %>

                    <th><a href="/teetimes/<%=@course.id%>">Tee time <%= index + 1 %></a></th>
                    <tr>
                    <td> <%= tee_time_slot %> </td>
                      </tr>
                      <tr>
                        <td>
                          <em><%= @course.tee_time_slot_message(tee_time_slot) %></em> 
                          <% unless @course.tee_time_taken?(tee_time_slot) %>
                            <%= form_tag "/teetimes", method: :post do %>
                              <%= hidden_field_tag :course_id, @course.id %>
                              <%= hidden_field_tag :user_id, current_user.id %>
                              <%= hidden_field_tag :tee_time_slot, tee_time_slot %>
                              <%= label_tag :num_of_guests %>
                              <div>
                              <%= text_field_tag :num_of_guests %>
                              </div>
                              <div>
                              <%= submit_tag "Book Tee Time!"%>
                              </div>
                            <% end %>
                          <% else %>
                            <br>
                            <br>
                            <br>
                          <% end %>
                        </td>

                      </tr>
                    
                  <% end %>
                </table> -->
          
              </div>

              <!-- SPECIFICATIONS -->
              <div role="tabpanel" class="tab-pane fade" id="specs">
                <div class="table-responsive">
                  <table class="table table-hover">
                    <thead>
                      <tr>
                        <th>Course Type</th>
                        <th><%= @course.c_type %></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>Course Season</td>
                        <td><%= @course.c_season %></td>
                      </tr>
                      <tr>
                        <td>Guest Policy</td>
                        <td><%= @course.guest_policy %></td>
                      </tr>
                      <tr>
                        <td>Dress Code</td>
                        <td><%= @course.dress_code %></td>
                      </tr>
                      <tr>
                        <td>Green fees</td>
                        <td><%= @course.green_fees %></td>
                      </tr>
                      <tr>
                        <td>Weekend rates</td>
                        <td><%= @course.weekend_rates %></td>
                      </tr>
                      <tr>
                        <td>Advanced tee time reservations</td>
                        <td><%= @course.adv_tee %></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>

              <!-- REVIEWS -->
              <div role="tabpanel" class="tab-pane fade" id="reviews">
                <!-- REVIEW ITEM -->
                <div class="block margin-bottom-60">

                  <span class="user-avatar"><!-- user-avatar -->
                    <img class="pull-left media-object" src="/assets/images/avatar2.jpg" width="64" height="64" alt="">
                  </span>

                  <div class="media-body">
                    <h4 class="media-heading size-14">
                      John Doe &ndash; 
                      <span class="text-muted">June 29, 2014 - 11:23</span> &ndash;
                      <span class="size-14 text-muted"><!-- stars -->
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-o"></i>
                      </span>
                    </h4>

                    <p>
                      Proin eget tortor risus. Cras ultricies ligula sed magna dictum porta. Pellentesque in ipsum id orci porta dapibus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas metus nulla, commodo a sodales sed, dignissim pretium nunc. Nam et lacus neque.
                    </p>

                  </div>

                </div>
                <!-- /REVIEW ITEM -->

                <!-- REVIEW ITEM -->
                <div class="block margin-bottom-60">

                  <span class="user-avatar"><!-- user-avatar -->
                    <img class="pull-left media-object" src="assets/images/avatar2.jpg" width="64" height="64" alt="">
                  </span>

                  <div class="media-body">
                    <h4 class="media-heading size-14">
                      John Doe &ndash; 
                      <span class="text-muted">June 29, 2014 - 11:23</span> &ndash;
                      <span class="size-14 text-muted"><!-- stars -->
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-o"></i>
                        <i class="fa fa-star-o"></i>
                      </span>
                    </h4>

                    <p>
                      Proin eget tortor risus. Cras ultricies ligula sed magna dictum porta. Pellentesque in ipsum id orci porta dapibus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas metus nulla, commodo a sodales sed, dignissim pretium nunc. Nam et lacus neque.
                    </p>

                  </div>

                </div>
                <!-- /REVIEW ITEM -->


                <!-- REVIEW FORM -->
                <h4 class="page-header margin-bottom-40">ADD A REVIEW</h4>
                <form method="post" action="#" id="form">

                  <div class="row margin-bottom-10">

                    <div class="col-md-6 margin-bottom-10">
                      <!-- Name -->
                      <input type="text" name="name" id="name" class="form-control" placeholder="Name *" maxlength="100" required="">
                    </div>

                    <div class="col-md-6">
                      <!-- Email -->
                      <input type="email" name="email" id="email" class="form-control" placeholder="Email *" maxlength="100" required="">
                    </div>

                  </div>

                  <!-- Comment -->
                  <div class="margin-bottom-30">
                    <textarea name="text" id="text" class="form-control" rows="6" placeholder="Comment" maxlength="1000"></textarea>
                  </div>

                  <!-- Stars -->
                  <div class="product-star-vote clearfix">

                    <label class="radio pull-left">
                      <input type="radio" name="product-review-vote" value="1" />
                      <i></i> 1 Star
                    </label>

                    <label class="radio pull-left">
                      <input type="radio" name="product-review-vote" value="2" />
                      <i></i> 2 Stars
                    </label>

                    <label class="radio pull-left">
                      <input type="radio" name="product-review-vote" value="3" />
                      <i></i> 3 Stars
                    </label>

                    <label class="radio pull-left">
                      <input type="radio" name="product-review-vote" value="4" />
                      <i></i> 4 Stars
                    </label>

                    <label class="radio pull-left">
                      <input type="radio" name="product-review-vote" value="5" />
                      <i></i> 5 Stars
                    </label>

                  </div>

                  <!-- Send Button -->
                  <button type="submit" class="btn btn-primary"><i class="fa fa-check"></i> Send Review</button>

                </form>
                <!-- /REVIEW FORM -->

              </div>
            </div>


            <hr class="margin-top-80 margin-bottom-80" />


          </div>


          <!-- LEFT -->
          <div class="col-lg-3 col-md-3 col-sm-3" >
            <div id="map">

            </div>



          </div>

        </div>

      </div>
    </section>

  </div>
</div>
<!-- / -->


<script async defer 
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCPnJdUCTaDoPlmksohRoP36LqmWpVI2b4&callback=initMap">
</script>

<!-- /wrapper -->


